@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply min-h-screen bg-gz-bg font-sans text-white antialiased;
  text-rendering: optimizeLegibility;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
